<ion-header>
  <ion-toolbar>
    <ion-title>Add item</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="showProgress"></ion-progress-bar>
  <ion-item>
    <ion-label position="floating">New item value</ion-label>
    <ion-input type="text" [(ngModel)]="newItemValue"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="addItem()">Add</ion-button>
</ion-content>